<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/style.css" />
  <title>Journaling made Easy</title>
</head>

<body>
  <div id="admin" class="content">
    <h1>JOURNALING MADE EASY:</h1>
    <div class="heading">
      <!-- <div class="circle">1</div> -->
      <h2>STEP #1:</h2>
      <p></p>
      <h4>Enter the date</h4>
    </div>
    <div class="add">
      <div class="form">
        <input v-model="title" placeholder="Date">
        <p></p>
        <!-- <div class="circle">2</div> -->
        <div class="heading">
        <h2>STEP #2:</h2>
        <h4>Add a few sentences of the most exciting parts of your day. Or skip it if you don't want to!</h4>
      </div>
        <textarea v-model="flavorText" placeholder="Write about your day..."></textarea>
        <p></p>
        <div class="heading">
        <h2>STEP #3:</h2>
        <h4>Add a picture too!</h4>
      </div>
         <input type="file" name="photo" @change="fileChanged">
        <button @click="upload">Upload</button>
      </div>
      <div class="upload" v-if="addItem">
        <h2>{{addItem.title}}</h2>
        <img :src="addItem.path" />
        <h3>Description: {{addItem.flavorText}}</h3>
      </div>
  
</div>

  <div class="divider">
    <hr>
  </div>

   <div class="heading">
      <div class="circle">4</div>
      <h2>Edit/Delete your Post:</h2>
    </div>
    <div class="edit">
      <div class="form">
        <input v-model="findTitle" placeholder="Search">
        <div class="suggestions" v-if="suggestions.length > 0">
          <div class="suggestion" v-for="s in suggestions" @click="selectItem(s)">{{s.title}}
          </div>
        </div>
      </div>
      <div class="upload" v-if="findItem">
        Title:
        <input v-model="findItem.title">
        Flavor Text:
        <textarea v-model="findItem.flavorText"></textarea>
        <p></p>
        <img :src="findItem.path" />
      </div>
      <div class="actions" v-if="findItem">
        <button @click="deleteItem(findItem)">Delete</button>
        <button @click="editItem(findItem)">Edit</button>
      </div>
    </div>

  <div class="goback">
  <a href="/index.html">Go back to review/read your complete journal!</a>
  </div>

   <footer>
    <a href="https://github.com/hayleeha/creativeProject4"><img src="/images/GitHub-Mark.png" alt="GitHub" width="35" height= "35"></a>
    </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  <script src="/admin.js"></script>
</body>

</html>
