body {
  font-family: Arial;
  font-size: 16px;
  background: #fff;
  padding: 0px;
  margin: 0px;
}

/* Header */
.header {
  /*display: flex;*/
  padding: 20px 100px 20px 100px;
  background-color: #FF1493;
  color: #fff;
}

.title {
  margin-top: 10px;
  text-align: center;
}

.title h2 {
  margin: 0px;
  font-size: 60px;
  text-align: center; 

}

.title h1 {
  margin: 0px;
  font-size: 40px;
  text-align: center; 
}

.title h1 {
  border-top: 2px solid #FFFF;
  /*text-align: center;*/
}

/* Footer */
.footer {
  height: 50px;
  padding: 20px 100px 0px 100px;
}

.footer a {
  color: #000;
}

/* Content */
.content {
  padding: 20px 100px 0px 100px;
}

.image h2 {
  font-style: italic;
  font-size: 1em;
}

/* Admin */
.heading {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.heading h2 {
  margin: 0px;
  margin-left: 10px;
}

.add, .edit {
  display: flex;
}

.circle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #FF1493;
  color: #fff;
  text-align: center;
}

/* Form */
input, textarea, select, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

.form {
  margin-right: 50px;
}

/* Uploaded images */
.upload h2 {
  margin: 0px;
}

.upload img {
  max-width: 300px;
}

/* Suggestions */
.suggestions {
  width: 200px;
  border: 1px solid #ccc;
}

.suggestion {
  min-height: 20px;
}

.suggestion:hover {
  background-color: #5BDEFF;
  color: #fff;
}

/* Masonry */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.image-gallery {
  column-gap: 1.5em;
}

.image {
  margin: 0 0 1.5em;
  display: inline-block;
  width: 100%;
}

.image img {
  width: 100%;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .image-gallery {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .image-gallery {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .image-gallery {
    column-count: 2;
  }
}

.goback{
  padding: 10px;
}